project_id               = "your-project-id"
iap_oauth2_client_id     = "xxxx.apps.googleusercontent.com"
iap_oauth2_client_secret = "GOCSPX-xxxxx"

authorized_members = [
  "user:your-email@example.com",
  # "group:your-group@googlegroups.com",
]

# Optional
# domain_name           = "job-recommender.example.com"
# discovery_engine_app_id = "job-search-app"
