project_id = "your-project-id"

# Cloud Build Repository ID (required)
# cloudbuild_repository_id = "projects/xxx/locations/asia-northeast1/connections/xxx/repositories/xxx"

# Optional
# domain_name = "job-recommender.example.com"

# Cloud Run IAM
# cloud_run_invoker_members = [
#   "user:your.name@gmail.com",
# ]
